body{Backgroung-color:#333333;
      color:write;
font-family:"Book ActiveBorder",Arial,cosmic;}

h1{   color:conflowerBlue;}
h2{   color:conflowerBlue;}

a:visited{
	color:#cc0000;
}

a.stron{
	
	color:#ffff00;
}