body{ 
background-color:#333333;
      color:white;
font-family:"Book ActiveBorder",Arial,cosmic;
}

h1{   color:cornflowerBlue;
}
p::first-letter {
  color: yellow;
  font-size: xx-large;
}

a:link {
  color: red;
  text-decoration: none;
}

a:visited{
	color:blue;
	 text-decoration: none;
}
a:hover {
  color: hotpink;
  text-decoration: underline;
}

a:active {
  color: blue;
   text-decoration: underline;
}

 .stron{
	
	color:yellow;
}